<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="outsider.cloudServicePJ.mapper.LoginMapper">
    <!-- <resultMap type="outsider.cloudServicePJ.VO.LoginVO" id="LoginResultMap"> -->
    <select id="LoginFunction" resultType="outsider.cloudServicePJ.VO.LoginVO">
        SELECT
            UI_EMAIL,
            UI_PASSWORD
        FROM
            USER_INFO
        WHERE
            UI_EMAIL = #{id}
            AND UI_PASSWORD = #{pw}
    </select>
</mapper>