<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="outsider.cloudServicePJ.mapper.MainMapper">
    <!-- <resultMap type="outsider.cloudServicePJ.VO.LoginVO" id="LoginResultMap"> -->
    <select id="fileListData" resultType="outsider.cloudServicePJ.VO.FileManageVO">
        SELECT
            A.*
        FROM
            FILE_MANAGE A
            LEFT OUTER JOIN USER_INFO B
            ON A.FM_UI_USER_EMAIL = B.UI_EMAIL
        WHERE
            <!-- B.UI_BACK_SEAT_PHONE_NUM = ${UI_BACK_SEAT_PHONE_NUM} -->
            A.FM_UI_USER_EMAIL = #{FM_UI_USER_EMAIL}
            AND A.FM_UP_FILE_ID = #{FM_UP_FILE_ID}
    </select>
    <select id="fileData" resultType="outsider.cloudServicePJ.VO.FileManageVO">
        SELECT
            A.*,
            B.UI_BACK_SEAT_PHONE_NUM
        FROM
            FILE_MANAGE A
            LEFT OUTER JOIN USER_INFO B
            ON A.FM_UI_USER_EMAIL = B.UI_EMAIL
        WHERE
            A.FM_ID = #{FM_ID}
    </select>
    <insert id="fileUploadData">
        INSERT INTO	FILE_MANAGE
        (
            FM_UI_USER_EMAIL,
            FM_FILE_NAME,
            FM_FILE_PATH,
            FM_FILE_SIZE,
            FM_FILE_EXTENSION_TYPE,
            FM_FILE_TYPE,
            FM_UP_FILE_ID,
            FM_REG_DATE
        )
        VALUES(
            #{FM_UI_USER_EMAIL},
            #{FM_FILE_NAME},
            #{FM_FILE_PATH},
            #{FM_FILE_SIZE},
            #{FM_FILE_EXTENSION_TYPE},
            #{FM_FILE_TYPE},
            #{FM_UP_FILE_ID},
            NOW()
        );
    </insert>
    <delete id="fileDelteData">
        DELETE FROM FILE_MANAGE
        WHERE
            FM_ID = #{FM_ID}
    </delete>

</mapper>