<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="outsider.cloudServicePJ.mapper.signUpMapper">
    <!-- <resultMap type="outsider.cloudServicePJ.VO.LoginVO" id="LoginResultMap"> -->
    <select id="userInfoCntData" resultType="java.lang.Integer">
        SELECT
            COUNT(*) AS CNT
        FROM
            USER_INFO
        WHERE
            UI_EMAIL = #{id}
    </select>
    <select id="authInfoCntData" resultType="java.lang.Integer">
        SELECT
            COUNT(*) AS CNT
        FROM
            USER_CERTIFICATION_EMAIL_LOG
        WHERE
            UCEL_UI_EMAIL = #{id}
    </select>
    <select id="authCodeCntData" resultType="java.lang.Integer">
        SELECT
            COUNT(*) AS CNT
        FROM
            USER_CERTIFICATION_EMAIL_LOG
        WHERE
            UCEL_UI_EMAIL = #{id}
            AND UCEL_AUTH_CODE = #{auth_code}
            AND UCEL_AUTH_VALIDITY = 'Y'
    </select>
    <insert id="signUpAuthInsertData" parameterType="map">
        UPDATE USER_CERTIFICATION_EMAIL_LOG
        SET 
            UCEL_AUTH_VALIDITY = 'N'
        WHERE
            UCEL_UI_EMAIL = #{id}
            AND UCEL_AUTH_VALIDITY = 'Y';

        INSERT INTO USER_CERTIFICATION_EMAIL_LOG
        (
            UCEL_UI_EMAIL,
            UCEL_UI_NAME,
            UCEL_AUTH_CODE,
            UCEL_REG_DATE
        )
        VALUES
        (
            #{id},
            #{name},
            #{auth_code},
            NOW()
        );
    </insert>
    <update id="signUpAuthUpData">
        UPDATE USER_CERTIFICATION_EMAIL_LOG
        SET
            UCEL_AUTH_YN = 'Y',
            UCEL_AUTH_DATE = now()
        WHERE
            UCEL_UI_EMAIL = #{id}
            AND UCEL_AUTH_VALIDITY = 'Y'
            AND UCEL_AUTH_CODE = #{auth_code}
    </update>
    <select id="authYNInfoCntData" resultType="java.lang.Integer">
        SELECT
            COUNT(*) AS CNT
        FROM
            USER_CERTIFICATION_EMAIL_LOG
        WHERE
            UCEL_UI_EMAIL = #{id}
            AND UCEL_AUTH_YN = 'Y'
            AND UCEL_AUTH_VALIDITY = 'Y'
    </select>
    <select id="signUpChkPhoneNum" resultType="java.lang.Integer">
        SELECT
            COUNT(*) AS CNT
        FROM
            USER_INFO
        WHERE
            UI_BACK_SEAT_PHONE_NUM = #{phone_num}
    </select>
    <insert id="signUpInsertData">
        INSERT INTO USER_INFO
        (
            UI_BACK_SEAT_PHONE_NUM,
            UI_NAME,
            UI_EMAIL,
            UI_JOIN_DT,
            UI_PASSWORD
        )
        VALUES(
            #{phone_num},
            #{name},
            #{id},
            now(),
            #{pw}
        );
    </insert>
</mapper>