    /* login css start */
    .login_wrap{
        width: 100dvw;
        height: 100dvh;
    }
    .login_box{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        border: 1px solid #e0e0e0;
        width: 30vw;
        max-width: 400px;
        border-radius: 10px;
    }
    .login_logo {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding: 20px;
        margin-bottom: 10px;
    }
    .login_id_box, .login_pw_box {
        box-sizing: border-box;
        border: 1px solid #ddd;
        padding: 10px;
    }
    .login_id_box {
        border-radius: 10px 10px 0 0;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0);
    }
    .login_pw_box {
        border-radius: 0 0 10px 10px;
        border-top: 1.5px solid #ddd;
    }

    .login_id_box.on, .login_pw_box.on {
        border: 1.5px solid #6c91ff;
    }
    .login_input_area {
        margin-bottom: 10px;
    }
    .login_input_area input {
        width: calc(100% - 10px);
        border: none;
        font-size: 17px;
    }
    .login_input_area input:focus {
        outline: none;
    }
    .login_input_area p {
        font-size: 12px;
        color: #919191;
        margin-bottom: 5px;
    }
    .login_btn_area {
        font-size: 0;
    }
    .login_btn_area button {
        background-color: #fff;
        border: 1px solid #ddd;
        width: 100%;
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        border: none;
        font-size: 18px;
        border-radius: 5px;
    }
    .login_btn_area .login_btn {
        margin-bottom: 5px;
        background-color: #6c91ff;
        font-weight: bold;
        color: #fff;
    }
    .login_btn_area .sign_up {
        margin-bottom: 5px;
        background-color: #ddd;
        font-weight: bold;
        color: #fff;
    }

    /* login css end */

    /* sign_up css start */
    .sign_up_wrap{
        width: 40vw;
        min-width: 300px;
        max-width: 1280px;
        margin: 0 auto;
    }
    .sign_up_area {
        font-size: 0;
    }
    .login_logo {
        font-size: 24px;
        text-align: center;
    }
    .sign_up_area div {
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    .sign_up_area div:last-child {
        border: none;
    }
    .sign_up_area div p {
        font-size: 16px;
        margin: 0;
        margin-bottom: 5px;
    }
    .sign_up_area div span {
        font-size: 16px;
        margin: 0 5px;
    }
    .sign_up_area div input,
    .sign_up_area div select{
        width: 100%;
        padding: 10px 0;
        font-size: 17px;
        border: none;
    }

    .sign_up_area div input:focus {
        outline: none;
    }

    .sign_up_area .sign_up_id input {
        width: calc(50% - 88px);
    }

    .sign_up_area button {
        height: 40px;
        width: 100%;
        font-size: 17px;
    }
    .sign_up_area button.certification_btn,
    .sign_up_area .sign_up_auth button {
        width: 150px;
        font-size: 14px;
        border: none;
        background-color: #4a97e7;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
    }

    .sign_up_area button.sign_up_btn {
        border: none;
        font-weight: bold;
        color: #ddd;
        background-color: #f4f4f4;
    }
    .sign_up_area button.sign_up_btn.on {
        background-color: #4a97e7;
        color: #fff;
    }
    .sign_up_area .sign_up_auth input{
        width: calc(100% - 150px);
        display: inline-block;
    }

    .sign_up_pw .red {
        color: red;
    }
    .sign_up_pw .green {
        color: green;
    }
    /* sign_up css end */